a {
  text-decoration: none;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.arrowContainer {
  margin-left: 1em;
  color: black;
}

.home-logo {
  color: white;
  margin-top: 0;
  padding: 16px;
}

.home-logo {
  font-family: 'Fredoka One', cursive;
  font-size: 300%;
  letter-spacing: 3px;
}



.login-message {
  height: 2em;
  color: red;
}



.portfolioBar {
  width: 100%;
  height: 88px;
  display: flex;
  background-color: orange;
  align-items: center;
}


.red {
  background-color: red;
}

.registration-popup {
  text-align: center;
}

.blue {
  background-color: blue;
}

.green {
  background-color: rgb(54, 193, 54)
}

.App-link {
  color: #61dafb;
}

.ticket:hover {
    cursor: pointer;
  }



